@charset "utf-8";
/* CSS Document */

.errorMessages {
	height: 18px;
	line-height: 18px;
	margin-left: 20px;
	border: 1px solid #FF8080;
	background: url("../images/errorIcon.png") no-repeat scroll 0 0 #FFF2F2;
	padding-left: 20px;
	display: none;
}