@charset "utf-8";
/* CSS Document */

#pageleft{
	width: 15%;
	height:100%;
	float:left;
	border:0px solid red; 
}

#pageleft p{
	margin-left: 50px;	
}

#center_right{
	width: 80%;
	float:left;
	border:0px solid red; 
	
}
#center{
	border:0px solid red; 
	overflow: hidden;
	
}

.p_align{
	text-align: center;
}
.font_red{
	height: 10px;
	color: red ;
}
.p_input_wid220{
	width:220px;
	text-align: right;
	border: 0px red solid;
}
.p_input_wid400{
	width:390px;
	text-align: right;
}