@charset "utf-8";
/* CSS Document */
body{
	/* height:492px; */
}
#pageleft{
	float:left;
	overflow:hidden ;
	width: 15%;
	border:0px solid red; 
	border-right:0px #9ebde3 solid; background:#eff7ff;
	height:100%;
}

#pageleft p{
	padding-left: 40px;
}

#center_right{
	float:left;
	width: 85%;
	overflow:hidden ;
	border:0px solid red; 
	height: 100%;
}
#center{
	border:0px solid red; 
	overflow: hidden;
	
}

.p_align{
	text-align: center;
}
.font_red{
	height: 10px;
	color: red ;
}
.p_input_wid220{
	width:220px;
	text-align: right;
	border: 0px red solid;
}
.p_input_wid400{
	width:390px;
	text-align: right;
}

.but_base{
	height: 30px;
}

.table_td_fieldlab{
	text-align: right ;
	background-color: #f3f3f3 ;
	
}

.red_asterisk{
	color: red ;
	text-align:inherit; 
}

.borderbg{
	border:green 1px solid; 
	background-color: #f0f0f0 ;
}

.butBottom{
	padding-bottom:2px;
}
.hidediv{
	display: none;
}
.fontgreen{
	color: green;
}
