.om-button {
	font-size: 12px;
}

#nav_cont {
	width: 580px;
	margin-left: auto;
	margin-right: auto;
}

input {
	border: 1px solid #A1B9DF;
	vertical-align: middle;
}

input:focus {
	border: 1px solid #3A76C2;
}

.input_slelct {
	width: 81%;
}

.textarea_text {
	border: 1px solid #A1B9DF;
	height: 40px;
	width: 445px;
}

table.grid_layout tr td {
	font-weight: normal;
	height: 15px;
	padding: 5px 0;
	vertical-align: middle;
}

.color_red {
	color: red;
}

.toolbar {
	padding: 12px 0 5px;
	text-align: center;
}

.birthplace,.address {
	width: 445px;
}

.om-span-field input:focus {
	border: none;
}

.errorImg {
	background: url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
	height: 16px;
	width: 16px;
	cursor: pointer;
}

input.error,textarea.error {
	border: 1px solid red;
}

.errorMsg {
	border: 1px solid gray;
	background-color: #FCEFE3;
	display: none;
	position: absolute;
	margin-top: -18px;
	margin-left: 18px;
}

.userregtd {
	width: 120px;
	height: 30px;
	text-align: center;
}
.userregtd2 {
	width: 80px;	
}
.userregtd_img {
	width: 180px;
	text-align: left;
}

.redcolor {
	color: red;
}
.loginbox_bor{ border:#bfd0e1 3px solid; background:#ffffff; font-size:14px; width:450px; }
.boxinput4{ width:80px; height:20px; padding-top:3px; border:1px #cccccc solid; font-size:14px; background:#ffffff;}